<!DOCTYPE html>
<html>
  <head>
    <title><%= t("app.appname") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gabriela|Mrs+Sheppards" rel="stylesheet">
  </head>

  <body>
  </br>
  </br>
  </br>
  </br>
  <%unless @error_message.nil? %>
    <div class="ui negative message">
      <div class="header">
        <%= t("app.header_messages.error") %>
      </div>
      <p>
        <%=@error_message%>
      </p>
    </div>
  <% end %>
    <div class="ui very padded text container segment">
      <div class="ui one column centered grid">
        <div class="center aligned column">
          <p>
            <font style="font-family: 'Mrs Sheppards', cursive; font-size: 25rem;">f</font>
            <font style="font-family: 'Gabriela', serif; font-size: 7rem;">aca.me
          </p>
        </div>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
